> git projects-update
[updated] ava-live
[updated] battery-life-extender
[updated] boilerplate-jasmine-typescript
[updated] dicts
[updated] eslint-config-piecioshka
[updated] fakes
[updated] fakes-auth
[updated] [dirty] git-scripts
[updated] github-track-followers-setup
[updated] innerhtml-vs-innertext-vs-textcontent
[updated] offline-strategy
[updated] test-solidarity
