> git run-on-nested-repos "git config --get remote.origin.url"

/Users/user1/projects/battery-life-extender > git config --get remote.origin.url
git@github.com:piecioshka/battery-life-extender.git

/Users/user1/projects/eslint-config-piecioshka > git config --get remote.origin.url
git@github.com:piecioshka/eslint-config-piecioshka.git

/Users/user1/projects/fakes > git config --get remote.origin.url
git@github.com:piecioshka/fakes.git

/Users/user1/projects/fakes-auth > git config --get remote.origin.url
git@github.com:piecioshka/fakes-auth.git

/Users/user1/projects/git-scripts > git config --get remote.origin.url
git@github.com:piecioshka/git-scripts.git
