> git sync
[x] Run: git config remote.origin.url

git@github.com:piecioshka/fakes.git

[x] Run: git status -sb

## master...origin/master

[x] Run: git branch --all

* master
  remotes/origin/HEAD -> origin/master
  remotes/origin/master

[x] Run: git tag -l

[x] Run: git pull

Already up to date.

[x] Run: git fetch -p

[x] Run: git push --all

Everything up-to-date

[x] Run: git push --tags

Everything up-to-date
