> git fire
[x] Run: git add .
[x] Run: git commit -am 'Fire 🔥'

[main 315db23] Fire 🔥
 1 file changed, 1 insertion(+)

[x] Run: git push

Enumerating objects: 8, done.
Counting objects: 100% (8/8), done.
Delta compression using up to 16 threads
Compressing objects: 100% (2/2), done.
Writing objects: 100% (6/6), 1.84 KiB | 1.84 MiB/s, done.
Total 6 (delta 0), reused 0 (delta 0), pack-reused 0
To github.com:piecioshka/test.git
   caae61d..315db23  HEAD -> main
